In [31]:
import pandas as pd

In [32]:
#original = pd.read_csv("./data_error.csv", sep=",")
original = pd.read_csv("./data_train.csv", sep=",")

In [33]:
preprocessed = original.drop(["chain_num","latent_input_1","latent_input_2","latent_output_1"], axis=1)

In [34]:
start=0
id_= []
for i in range(preprocessed.shape[0]):
    id_.append(start+1)
    start +=1

In [35]:
preprocessed["ID"]=id_

In [36]:
preprocessed.columns

Index(['obs_1', 'obs_2', 'obs_3', 'obs_4', 'obs_5', 'obs_6', 'obs_7', 'obs_8',
       'obs_9', 'obs_10', 'obs_11', 'obs_12', 'obs_13', 'obs_14', 'obs_15',
       'obs_16', 'obs_17', 'obs_18', 'obs_19', 'obs_20', 'obs_21', 'obs_22',
       'obs_23', 'obs_24', 'obs_25', 'obs_26', 'obs_27', 'obs_28', 'obs_29',
       'obs_30', 'obs_31', 'obs_32', 'obs_33', 'obs_34', 'obs_35', 'obs_36',
       'obs_37', 'obs_38', 'obs_39', 'obs_40', 'obs_41', 'obs_42', 'obs_43',
       'obs_44', 'obs_45', 'obs_46', 'obs_47', 'obs_48', 'obs_49', 'obs_50',
       'ID'],
      dtype='object')

In [37]:
names= ['ID', 'obs_1', 'obs_2', 'obs_3', 'obs_4', 'obs_5', 'obs_6', 'obs_7', 'obs_8',
       'obs_9', 'obs_10', 'obs_11', 'obs_12', 'obs_13', 'obs_14', 'obs_15',
       'obs_16', 'obs_17', 'obs_18', 'obs_19', 'obs_20', 'obs_21', 'obs_22',
       'obs_23', 'obs_24', 'obs_25', 'obs_26', 'obs_27', 'obs_28', 'obs_29',
       'obs_30', 'obs_31', 'obs_32', 'obs_33', 'obs_34', 'obs_35', 'obs_36',
       'obs_37', 'obs_38', 'obs_39', 'obs_40', 'obs_41', 'obs_42', 'obs_43',
       'obs_44', 'obs_45', 'obs_46', 'obs_47', 'obs_48', 'obs_49', 'obs_50',]
preprocessed = preprocessed.reindex(columns=names)

### Add label of status

In [38]:
preprocessed["status"] = 0

In [39]:
preprocessed.head()

,ID,obs_1,obs_2,obs_3,obs_4,obs_5,obs_6,obs_7,obs_8,obs_9,...,obs_42,obs_43,obs_44,obs_45,obs_46,obs_47,obs_48,obs_49,obs_50,status
0,1,11.72460,6.84370,-6.16546,7.32371,8.12540,8.51484,-10.67250,11.45160,-2.871550,...,3.843580,11.60930,-9.01797,-9.51101,0.628847,-1.27003,-8.647210,8.23113,10.896800,0
1,2,-1.24318,-3.12578,7.37683,4.43522,-2.30168,-5.34081,2.84995,-6.50697,-1.308750,...,-0.219740,1.58602,5.61341,7.88271,2.597970,4.02012,-0.465965,7.17608,-0.748389,0
2,3,-1.23470,-3.01683,7.22351,4.40578,-2.43740,-5.25240,2.76146,-6.38127,-1.238430,...,-0.210998,1.52489,5.50085,7.64518,2.569910,3.96685,-0.376675,7.01248,-0.860346,0
3,4,-1.22580,-2.64015,7.06893,4.52620,-2.46531,-5.18322,2.45454,-5.74103,-0.810456,...,0.064941,1.34598,5.38240,7.10200,2.615980,3.65062,-0.058385,6.73682,-1.184970,0
4,5,-1.25419,-2.39536,6.88117,4.49926,-2.45386,-5.12561,2.22625,-5.35451,-0.604970,...,0.181912,1.25476,5.21952,6.71270,2.595310,3.44541,0.086474,6.47247,-1.338340,0

In [40]:
preprocessed.to_csv("./data_train_preprocessed.csv", sep=",", index=False)