In [5]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [6]:
path_original = "./samples_obs_space_sinusoid_20190829071225.csv"
df_original_1 = pd.read_csv(path_original, sep=";")

In [7]:
path_original = "./samples_obs_space_small_error_sinusoid_20190829071225.csv"
df_original_2 = pd.read_csv(path_original, sep=";")

In [8]:
path_original = "./samples_obs_space_large_error_sinusoid_20190829071225.csv"
df_original_3 = pd.read_csv(path_original, sep=";")

In [9]:
total = pd.concat([df_original_1, df_original_2, df_original_3], axis = 0, ignore_index=True)

## Add ID to dataset

In [11]:
start=0
id_= []
for i in range(total.shape[0]):
    id_.append(start+1)
    start +=1

In [12]:
total["ID"]=id_

In [13]:
total.columns

Index(['signal_1', 'signal_2', 'signal_3', 'signal_4', 'signal_5', 'signal_6',
       'signal_7', 'signal_8', 'signal_9', 'signal_10', 'ID'],
      dtype='object')

In [14]:
names= ['ID','signal_1', 'signal_2', 'signal_3', 'signal_4', 'signal_5', 'signal_6',
       'signal_7', 'signal_8', 'signal_9', 'signal_10']
total = total.reindex(columns=names)

In [15]:
total.to_csv("./cpps_data_predictive_maintenance.csv", index=False, sep=",")

### Create small dataset for training

In [16]:
training = total.iloc[:50000,:]
training.head()

,ID,signal_1,signal_2,signal_3,signal_4,signal_5,signal_6,signal_7,signal_8,signal_9,signal_10
0,1,-0.133537,-0.348652,-0.131775,-0.140008,-0.377212,-0.262275,0.038038,0.053400,-0.064616,-0.407199
1,2,-0.155411,-0.273711,-0.249487,-0.086255,-0.532110,-0.240545,-0.083370,-0.014786,-0.142512,-0.496644
2,3,-0.164128,-0.245190,-0.311053,-0.051599,-0.599518,-0.244503,-0.131433,-0.043521,-0.167690,-0.529729
3,4,-0.155856,-0.276078,-0.302743,-0.039183,-0.556007,-0.282804,-0.085378,-0.021630,-0.124478,-0.490359
4,5,-0.133593,-0.356358,-0.234585,-0.047221,-0.419392,-0.348340,0.038684,0.042230,-0.025258,-0.391078

In [17]:
training.to_csv("./cpps_data_predictive_maintenance_training.csv", index=False, sep=",")

### Add label of status

In [19]:
phase1= [0]*50000
phase2 = [1]*50000
phase3 = [2]*50000
phases = phase1+phase2+phase3
total["status"]= phases
total.head()

,ID,signal_1,signal_2,signal_3,signal_4,signal_5,signal_6,signal_7,signal_8,signal_9,signal_10,status
0,1,-0.133537,-0.348652,-0.131775,-0.140008,-0.377212,-0.262275,0.038038,0.053400,-0.064616,-0.407199,0
1,2,-0.155411,-0.273711,-0.249487,-0.086255,-0.532110,-0.240545,-0.083370,-0.014786,-0.142512,-0.496644,0
2,3,-0.164128,-0.245190,-0.311053,-0.051599,-0.599518,-0.244503,-0.131433,-0.043521,-0.167690,-0.529729,0
3,4,-0.155856,-0.276078,-0.302743,-0.039183,-0.556007,-0.282804,-0.085378,-0.021630,-0.124478,-0.490359,0
4,5,-0.133593,-0.356358,-0.234585,-0.047221,-0.419392,-0.348340,0.038684,0.042230,-0.025258,-0.391078,0

In [20]:
total.to_csv("./cpps_data_predictive_maintenance.csv", index=False, sep=",")